<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="ポイントカード照会システム">
        <meta name="author" content="zawatan0111">
        <meta name="copyright" content="zawatan0111">
        <link href="../static/index.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <title>スーパーポイント照会</title>
    </head>
    <body>

        <h1>{{title}}</h1>
        
        <a href="/price">価格照会ページへはこちら</a>
        <a href="/">ログアウトボタン</a>
        <a href="/form_1">お問い合わせフォーム</a>
        
        <h2>{{message}}</h2>
        <div>
            <form method="post" action="/">
                <input type="text" name="field">
                <input type="submit">
            </form>
        </div>

        <h2>レシート検索</h2>
        <a>絞り込み</a>
        <table class="">
            <tbody>
                <tr>
                    <th>日時：</th>
                    <td>入力</td>
                    <th>レシート番号：</th>
                    <td>入力</td>
                </tr>
            </tbody>
        </table>
        <a>検索</a>
        <a>結果</a>
        <table class="">
            <tbody>
                <tr>
                    <th>日時：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>レシート番号：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>レジ番号：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>小計金額(税抜)：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>合計金額：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>支払方法：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>投入金額：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>お釣り金額：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>発生ポイント：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>残留ポイント：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>ポイント券発行枚数：</th>
                    <td>結果</td>
                </tr>
            </tbody>
        </table>
        <a>購入商品詳細</a>
    </body>
</html>
