<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="ポイントカード照会システム">
        <meta name="author" content="zawatan0111">
        <meta name="copyright" content="zawatan0111">
        <link href="../static/price.css" rel="stylesheet" type="text/css"/>
        <title>価格照会</title>
    </head>
    <body>
        <h1>価格照会</h1>
        <a href="/">トップページ</a>
        <h2>合計金額(税抜)：</h2>
        <h2>合計金額(税込)：</h2>
        <h2>発生ポイント：</h2>
        <table class="">
            <tbody>
                <tr>
                    <th>バーコード：</th>
                    <td>入力</td>
                </tr>
            </tbody>
        </table>
        <a>検索</a>
        <a>結果</a>
        <table class="">
            <tbody>
                <tr>
                    <th>商品名：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>本体価格：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>割引：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>値引：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>税抜価格：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>税込価格：</th>
                    <td>結果</td>
                </tr>
                <tr>
                    <th>税率：</th>
                    <td>結果</td>
                </tr>
            </tbody>
        </table>
        <a>照会した商品リスト</a>
    </body>
</html>
